body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e5e5;
    font-family: "kalra" ,sans-serif;
 
}
.main{
    width: 550px;
    height: auto;
    background-color: white;
    
}
header{
    width:550px;
    height: 65px;
    background-color: #8424a6;
    display: flex;
    color: white;
    align-items: center;
   
    
}
.image{
    width: 31.31px;
    height: 26.22px;
    margin-left:20px ;
    
}
.image1{
    width:477px;
    height: 268px;
  margin: 30px;
}
header h4{
    margin-left: 200px;
    font-size: 0.7rem;
}
header h2{
    font-size: 1.25rem;
    margin-left: 5px;
}
.form{
    
    display: grid;
    grid-template: 40px 40px / 1fr 1fr;
    gap:20px;
  
}
.form button{
    grid-column: 1/-1;
    background-color: #8424a6;
  color: white;
}
.content{
    padding: 20px;
}
.meme{
    position: relative;
}
.memetext{
    position: absolute;
    text-align: center;
    left:50%;
    color: #ffffff;
    margin: 15px 0;
    padding: 0 5px;
    text-transform:capitalize;
    transform: translateX(-50%);
    width: 80%;
    letter-spacing: 1px;
    text-shadow:
    2px 2px 0 #000,
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    0 2px 0 #000,
    2px 0 0 #000,
    0 -2px 0 #000,
    -2px 0 0 #000,
    2px 2px 5px #000;
}
.top{
    top:20px;
}
.bottom{
    bottom:20px;
}