*{
    box-sizing:border-box;
} 
 
body{
    display: flex;
    align-items: center;
    justify-content: space-around;
 
}
.box{
    background-color: rgb(38, 50, 59);
    width: 540px;
    height: 540px;
    padding: 20px;
    
}

.instructions {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin-top: 0;
    text-align: center;
    width: 400px;
}

.boxinner{
    width: 500px;
    height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
 border-radius: 10px;
    background-color: #f5f5f5;
   position:relative;
    
}
.gridcontainer{
    display: grid;
    grid-template: auto auto /repeat(5, 1fr);
    gap:20px
}
.diebox{
    width:70px;
height: 70px;
background-color: #ffffff;
box-shadow: 0px 2px 2px rgb(0, 0,0,0.15);
border-radius:10px ;
display: flex;

align-items: center;
justify-content: center;
font-size: xx-large;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
cursor:pointer;
}
button{
    background-color: rgb(94, 94, 231);
    padding:10px;
    width: 150px;
    border-radius: 5px;
    color: #ffffff;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: none;
    
}

button:active{
    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.566);
}
.confetti {
    position: absolute;
    top: 0%; 
    left: 0%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
.dots-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, minmax(7px, 1fr));
    grid-template-rows: repeat(3, minmax(7px, 1fr));
    gap: 5px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.dot {

    --top: 0%;
    --left: 0%;

    width: 10px;
    height: 10px;
    background-color: #000000;
    border-radius: 50%;

    /* Dot Positioning */
    position: absolute;
    top: var(--top);
    left: var(--left);
    transform: translateX(calc(var(--left) * -1)) translateY(calc(var(--top) * -1));


}
.time{
    font-size: x-large;
   
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.timer{
    font-size: large;
    font-family: 'Arial Narrow', Arial, sans-serif;
    display: inline;
    margin: 0px;

}